flask==3.0.3
flask-cors==5.0.0
werkzeug==3.0.6
python-dotenv==1.0.1

langchain==0.3.25
langchain-core==0.3.59
langchain-community==0.3.24

langchain-google-genai==2.1.4
langchain-pinecone==0.2.6
langchain-huggingface==0.1.2
langchain-groq==0.3.2

langgraph==0.4.5

pinecone-client==5.0.1

sentence-transformers==3.4.1

google-generativeai==0.8.5

tavily-python==0.5.4

Pillow==11.0.0   # 11.2.1 requires Python >=3.14, downgrade to 11.0.0
requests==2.32.3

pydantic==2.11.4

gunicorn==23.0.0
