requests
beautifulsoup4
lxml
nltk
spacy
sentence-transformers>=2.2.2
langchain>=0.1.0,<0.3.0
langchain-core>=0.1.0,<0.3.0
langchain-text-splitters
flask
flask-cors
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
langchain-google-genai
langchain-huggingface
langchain_experimental
langgraph>=0.0.20,<0.3.0
SpeechRecognition
pyttsx3
pyaudio
pillow
numpy<2.0.0