flask
flask-cors
werkzeug
python-dotenv
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-pinecone
langchain-huggingface
langchain-groq
langgraph
pinecone-client
sentence-transformers
google-generativeai
tavily-python
Pillow
requests
pydantic
gunicorn
